{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<div class="form-container">
    <h1 class="form-header">Join SimStocks</h1>
    <form action="/register" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
        {{ form.username(class_="form-control", placeholder='Username') }}
            <!-- <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"> -->
        </div>
        {% for error in form.username.errors %}
            <span class="form-error">[{{ error }}]</span>
        {% endfor %}
        <div class="form-group">
        {{ form.email(class_="form-control", placeholder='Email Address') }}
        </div>
        {% for error in form.email.errors %}
            <span class="form-error">[{{ error }}]</span>
        {% endfor %}
        <div class="form-group">
        {{ form.password(class_="form-control", placeholder='Password') }}
        </div>
        {% for error in form.password.errors %}
            <span class="form-error">[{{ error }}]</span>
        {% endfor %}
        <div class="form-group">
        {{ form.password2(class_="form-control", placeholder='Confirm Password') }}  
        </div>
        {% for error in form.password2.errors %}
            <span class="form-error">[{{ error }}]</span>
        {% endfor %}  
        <p class="pw small text-center text-muted col-8 offset-2">Password must be at least 6 characters, contain at least one letter, one number, and one special character.</p>
        {{ form.submit(class_="btn ssbtn") }}
    </form>
</div>
{% endblock %}
