{% extends "layout.html" %}

{% block main %}
  <div class="form-container">
    <h1 class="form-header">Reset Your Password</h1>
    <form action="" method="post">
      {{ form.hidden_tag() }}
      <div class="form-group"> 
        {{ form.password(class_="form-control", placeholder='New Password') }}
      </div>
      {% for error in form.password.errors %}
        <span class="form-error">[{{ error }}]</span>
      {% endfor %}
      <div class="form-group">  
      {{ form.password2(class_="form-control", placeholder='Confirm Password') }}
      </div>
      {% for error in form.password2.errors %}
        <span class="form-error">[{{ error }}]</span>
      {% endfor %}
      <br>
      {{ form.submit(class_="btn ssbtn") }}
    </form>
  </div>
{% endblock %}